.participants {
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 900px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f4f4f9;
}

.course-participants-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 6rem;
}

.course-participants-list > * {
    margin: 0;
    padding: 0.25rem;
}

.course-participants-modal > * {
    margin-bottom: 0.5rem;
}

.course-participants-modal-entry > * {
    margin: 0;
}

.course-participants-modal-second-row {
    display: flex;
    justify-content: space-between;
}