.login-page .card {
  background-color: var(--light-purple);
  padding-inline: 4rem;
  padding-block: 2rem;
  display: flex;
  justify-content: center;
}

.login-page .card-header {
  color: var(--main-bg-color);
  font-size: 3rem;
  font-weight: 500;
  border: none;
  padding-bottom: 0;
  background-color: transparent;
}

.login-page .prompt {
  color: var(--main-bg-color);
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 3rem;
}

.login-page .form-label {
  color: var(--main-bg-color);
  margin-bottom: 0;
  font-weight: 600;
}

.login-page .wider {
  position: relative;
  width: 120%;
  right: 10%;
}

.login-page .form-control {
  border: 1px solid var(--medium-purple);
}

.login-page .form-control:focus {
  box-shadow: inset 0 0 0 1px var(--sand-beige), 0 0 4px 1px var(--sand-beige);
}

.login-page .btn {
  margin-top: 2rem;
  border: none;
  background-color: var(--medium-purple);
  color: var(--main-bg-color);
  border-radius: 5px;
  padding-block: 0.5rem;
  font-weight: 600;
}

.login-page .btn:hover {
  color: white;
}

.login-page .invalid-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.login-page .invalid-info {
  color: var(--salmon-pink);
  position: absolute;
  font-size: 1.3rem;
  font-weight: 600;
  bottom: -20px;
}
